<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <section>
      <ion-button (click)="iab()" color="primary">IAB</ion-button>
      <ion-button (click)="iab('_system')" color="secondary">IAB (System)</ion-button>
    </section>
  </div>
</ion-content>
